<h1>Dispatcher Webpage</h1>
<h2>Recently requested rides</h2>
{% if latest_rides_list %}
    <table>
        <tr>
            <th> Student Name </th>
            <th> SUNet ID </th>
            <th> Time Requested </th>
            <th> Number of Passengers </th>
            <th> Status </th>
        </tr>
    {% for ride in latest_rides_list %}
        <tr>
            <td> {{ ride.student.first_name }} {{ ride.student.last_name }} </td>
            <td> {{ ride.student.sunet }} </td>
            <td> {{ ride.time_requested }} </td>
            <td> {{ ride.num_passengers }} </td>
            <td> {{ ride.assigned }} </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No recent rides..</p>
{% endif %}

<h2>List of registered members</h2>
{% if latest_students_list %}
    <table>
        <tr>
            <th> Student Name </th>
            <th> SUNet ID </th>
            <th> Email </th>
            <th> Phone </th>
        </tr>
    {% for student in latest_students_list %}
        <tr>
            <td> {{ student.first_name }} {{ student.last_name }} </td>
            <td> {{ student.sunet }} </td>
            <td> {{ student.email }} </td>
            <td> {{ student.phone }} </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No registered members..</p>
{% endif %}

<h2>List of registered drivers</h2>
{% if latest_drivers_list %}
    <table>
        <tr>
            <th> Driver Name </th>
            <th> ID </th>
            <th> Currently Driving </th>
        </tr>
    {% for driver in latest_drivers_list %}
        <tr>
            <td> {{ driver.first_name }} {{ driver.last_name }} </td>
            <td> {{ driver.driver_id }} </td>
            <td> {{ driver.licence_plate }} </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No registered drivers..</p>
{% endif %}

{% block script %}
  <script>
    var socket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/dispatcher/'
    );

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        location.reload();
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}
